{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="max-width: 70%">
    {# templates/default/new.html.twig #}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>

{% endblock %}